@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body{

    background-color: bisque;
}

.navBar{

    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(255, 220, 177);

}

.navBar h1{

    color: green;
}

.tableDiv{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    border: green solid 2.5px;
    
    
}

.tableDiv div{
    text-align: center;
    font-size: 200%;
}

.internalGrid{
    background-color: rgb(255, 220, 177);
     border: green solid 2.5px;
     width: 150px;
     height: 150px;
     align-content: center;
}

.divCont{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.playerStyle{

    margin-top: 10%;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;

}

.pImgStyle{

    width: 50px;
    height: 50px;
}

.refreshButStyle{

    width: 80px;
    height: 50px;
    margin-top: 15px;
    background-color: green;
    color: wheat;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px green ;
    transition: background-color 0.5s ease;
    transition: box-shadow 0.5s ease;
}

.refreshButStyle:hover{

        background-color: wheat;
        color: green;
        box-shadow: none;

}

.bigImg{

    width: 100px;
    height: 100px;
}

.backgroundWin{

    background-color: rgb(5, 145, 5);
}

.textWin{

    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.playerInGame{

    color: red;
}

.centerStructure{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.divBtn{
    display: flex;
    gap: 10px;
}

.formStyle{

    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: wheat;
    width: 50%;
    height: 50%;
}

.box input{

    border-radius: 6px;
    border: none;
    height: 30px;
    margin-bottom: 8px;
    box-shadow: 5px 5px 10px green;
    
}

.box label{

    margin-bottom: 8px;
    color: green;
    font-weight:bold;
}


